[ALL]
BTREX_KEY = xxxx
BTREX_SECRET = xxxx

GDAX_PASSPHRASE = xxxx
GDAX_KEY = xxxx
GDAX_SECRET = xxxx

BINANCE_KEY = xxxx
BINANCE_SECRET = xxxx

KUCOIN_KEY = xxxx
KUCOIN_SECRET = xxxx

FIAT_CURRENCIES = USD, GBP, EUR

MIN_BALANCE_TO_EXCLUDE = 0.1