requests
logzero
git+https://github.com/ericsomdahl/python-bittrex@master
gdax
expiringdict
python-binance
python-kucoin
pandas
matplotlib
tabulate
autobahn>=20.12.3 # not directly required, pinned by Snyk to avoid a vulnerability